html body{
    /* background: linear-gradient(to right, #62dbbe, #143058); */
    /* background: #0f0c2d; */
    /* background: #560BAD; */
    background: #EFF7F6;
    font-family: Arial, Helvetica, sans-serif;
}
form h1{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
.page{
    min-height: 97vh;
}

.containerr{
    outline: 0;
    border: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    /* background: #23233b; */
    background: transparent;
    height: 400px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
form .center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fullwidth{
    width:100%
}
form .submit{
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    transition: background-color 0.3s ease;
    background: #008aff;
    color: white;
    border: 0;
    &:hover {
        background-color: #2980b9;
        color: white;
      }
}

.login input{
    padding: 5px;
    margin: 5px;
    height: 50px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    
}

/* --------footer------------ */
.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
    background-color: black;
    margin-top: 50px;
}
.footer h2{
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.copyright-txt{
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #777;
}
